img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* for navbar */


.dropdown-btn {

  width: 100%;
  border: 20px;
  text-align: left;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}



/* merchantnewproduct */


.no-resize {
  resize: none;
}
